#imago-singapur-grid
  .row
  - @testimonies.each do |t|
    .col-xs-6.col-md-3
      .thumbnail
        %img(src="#{t.image_url}")
    .col-xs-6.col-md-3
      .thumbnail
        %img(src="#{t.image_url}")
    .col-xs-6.col-md-3
      .thumbnail
        %img(src="#{t.image_url}")
    .col-xs-6.col-md-3
      .thumbnail
        %img(src="#{t.image_url}")
    .col-xs-6.col-md-3
      .thumbnail
        %img(src="#{t.image_url}")
    .col-xs-6.col-md-3
      .thumbnail
        %img(src="#{t.image_url}")
    .col-xs-6.col-md-3
      .thumbnail
        %img(src="#{t.image_url}")
    .col-xs-6.col-md-3
      .thumbnail
        %img(src="#{t.image_url}")
    .col-xs-6.col-md-3
      .thumbnail
        %img(src="#{t.image_url}")
    .col-xs-6.col-md-3
      .thumbnail
        %img(src="#{t.image_url}")
    .col-xs-6.col-md-3
      .thumbnail
        %img(src="#{t.image_url}")
