- model_class = Testimony
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:lat)
      %th= model_class.human_attribute_name(:lon)
      %th= model_class.human_attribute_name(:story_date)
      %th= model_class.human_attribute_name(:memory)
      %th= model_class.human_attribute_name(:audio_url)
      %th= model_class.human_attribute_name(:image_url)
      %th= model_class.human_attribute_name(:video_url)
      %th= model_class.human_attribute_name(:person_id)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @testimonies.each do |testimony|
      %tr
        %td= link_to testimony.id, testimony_path(testimony)
        %td= testimony.lat
        %td= testimony.lon
        %td= testimony.story_date
        %td= testimony.memory
        %td= testimony.audio_url
        %td= testimony.image_url
        %td= testimony.video_url
        %td= testimony.person_id
        %td=l testimony.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_testimony_path(testimony), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), testimony_path(testimony), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_testimony_path, :class => 'btn btn-primary'
